**1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.**

In [1]:
# * - Expression
# 'hello' - Value (String)
# -87.8  - Value (Float)
# - -> Expression
# / -> Expression
# + -> Expression
# 6 -> Value (Integer)

**2. What is the difference between string and variable?**


**Variable** - Variables are symbols that can be used to store the data in a program.

It can be treated as a box in which we can store any information.

**String** - Strings are data, that we can store in a variable.

***Example*** - name = 'Vamshi'

In the above example, 
* name - Variable
* 'Vamshi' - String

But there are rules on how to designate a variable.
We cannot use numeric values at the start of the variable, we can add an underscore to avoid syntax error.

Example: 
* 2_name is not allowed
* _2_name is allowed

**3. Describe three different data types.**

A data type is a characteristic that tells the compiler how to use the data.

The data type of any object is found using the built-in **type()** function. 

Three Common Data types are:

* Integer
* String
* Boolean

**Integer** - It is the most common numeric data type used to store numbers without a fractional component.

Example:  85,-96,0

**String** - It is a sequence of characters and it is used to store text data. 
Additionally, a string can also include digits and symbols, however, it is always treated as text. 

Example: 
1. Pincode: 547986
2. Phone Number: (+91 8679526989)

**Boolean** - 
It represents the values true and false.
Sometimes, a boolean value is also represented as 
0 (for False) and 1 (for True)

**4. What is an expression made up of? What do all expressions do?**

- An expression is a combination of operators, constants and variables. 
- An expression may consist of one or more operands, and zero or more operators to produce a value.

- All expressions evaluate to a single value.

**5. This assignment statements, like spam = 10. What is the difference between an 
expression and a statement?**

An expression evaluates to a single value. A statement does not.

**6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1**

In [8]:
bacon = 22
print(bacon+1)
print(f'bacon={bacon}')

23
bacon=22

Bacon is still 22 because we didn't assign `bacon+1` to bacon again. 
So, variable bacon isn't updated and it still holds same value we first assigned.

**7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3**

In [10]:
'spam'+'spamspam'

'spamspamspam'

In [11]:
'spam'*3

'spamspamspam'

Both the expressions give the same output.

**8. Why is eggs a valid variable name while 100 is invalid?**

There are certain rules on how to assign variable names in python.

One of them is variable names cannot start with numeric values. 
It can contain numeric values, but certainly cannot start with it.

100 as a variable name violates that rule. That is reason it is invalid.

**9. What three functions can be used to get the integer, floating-point number, or string 
version of a value?**

The `int()`, `float()` and `str()` functions will give the integer, floating-point and string version of the value as a resulting output.

In [18]:
number = 10

print(f'{int(number)} and type is {type(int(number))}')
print(f'{float(number)} and type is {type(float(number))}')
print(f'{str(number)} and type is {type(str(number))}')

10 and type is <class 'int'>
10.0 and type is <class 'float'>
10 and type is <class 'str'>

**10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.**

'I have eaten' + 99 + 'burritos'

- This expressions results in error because 99 is an integer.

- Strings can only be concatenated with other strings

`Valid Expression:`

In [20]:
'I have eaten ' + str(99) + ' burritos'

'I have eaten 99 burritos'

In [22]:
f'I have eaten {99} burritos'

'I have eaten 99 burritos'